.scroll {
    height: 100%;
    position: relative;
    overflow: hidden;
}
    .scroll__content {
        height: 100%;
        overflow-y: scroll;
    }

    .scroll__bar {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 16px;
        opacity: 0;
        @include hover-only-transition(opacity);

        .scroll:hover & {
            opacity: 1;
        }
    }
        .scroll__track {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
        }

        .scroll__track:after {
            content: '';
            display: block;
            position: absolute;
            left: 5px;
            right: 5px;
            top: 0;
            bottom: 0;
            background: $color_gray_primary;
            border-radius: 3px;
        }