.words__ribbon {
  display: inline-flex;
  flex-wrap: wrap;
  min-width: 100%;
}

.words_line .words__ribbon {
  flex-wrap: nowrap;
  justify-content: flex-end;
  vertical-align: top;
  box-sizing: border-box;
}

.words_line .words__container {
  height: 100px;
  overflow-x: scroll;
}

.words__stage {
  position: relative;
  border: 1px solid #d5d9dc;
  border-radius: 3px;
  padding: 0 6px 6px;
  overflow: hidden;
  box-sizing: border-box;
}

.search__input, .search__input.words__stage {
  border-right-width: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.words_line .words__stage {
  height: 44px;
}

.search__widget {
  flex: 1 100;
  min-width: 0;
}

.words {
  position: relative;
}

.words__input {
  box-shadow: none;
  border: none;
  background: 0 0;
  flex: 1;
  min-width: 30px;
  height: 30px;
  margin: 6px 0 0;
  padding: 5px 7px;
  white-space: nowrap;
  font-size: 14px;
  color: #333;
  outline: none;
  box-sizing: border-box;
}

.words__dropdown {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 44px 0 0;
  box-shadow: 0 2px 10px 0 rgba(60, 74, 85, 0.17);
  border-radius: 3px;
  background-color: #fff;
  height: 44px;
  overflow: hidden;
  opacity: 0; 
}

.words_active .words__dropdown {
  height: auto;
  overflow: visible;
  opacity: 1;
  transition-property: opacity;
  transition-duration: .3s; 
}

.words__list {
  list-style: none;
  margin: -1px 0 0;
  padding: 8px 0;
  overflow-y: auto;
  max-height: 157px;
  border-top: 1px solid #EEEFF0;
  font-size: 14px;
  line-height: 20px;
  color: #333333; 
}

.words__option {
  padding: 4px 20px;
  cursor: pointer; 
}

.words__option.words__option_highlight {
  background-color: #F7F9FA; 
}

.words_focus .words__stage {
  border-color: #95a0a9; 
}

.words_active .words__stage {
  border-color: transparent;
  transition-property: border-color;
  transition-duration: .3s; 
}

.words_error .words__stage {
  border-color: #d00d62;
  transition-property: border-color;
  transition-duration: .3s; 
}

.words_line .words__stage {
  height: 44px;
}

.words_active {
  z-index: 4000; 
}

.words_scrolled .words__stage:after {
  display: block; 
}