body {
  font-family: 'Roboto', sans-serif;
  width: 80%;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.870588);
  line-height: 21px;
}

.custom-width {
  width: 40px;
}

.Custom__arrow-next {
  &:hover {
    &:after {
      border-color: green;
    }
  }
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 12px;
    width: 5px;
    height: 5px;
    border: 0 solid red;
    border-top-width: 1px;
    border-right-width: 1px;
    transform: rotate(-45deg);
    right: 21px;
  }
}

.Custom__arrow-prev {
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 12px;
    width: 5px;
    height: 5px;
    border: 0 solid red;
    border-top-width: 1px;
    border-left-width: 1px;
    transform: rotate(-135deg);
    left: 21px;
  }
}

.CustomScroll__custom-class {
  &:after {
    background: red;
  }
}

.CustomScroll__custom-component {
  background: green;
  height:100%;
  
  &:after {
    display: none;
  }
}
